nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #00a087;
  padding: 0 2em 0;
  color: #e8fdff;
  font-size: 2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 5px;
}

#nav-bar .header {
  margin-left: 5px;
  font-size: 35px;
  line-height: 200%;
}

#nav-bar button{
  float: right;
  margin-top: 13px;
  background: none;
  border: none;

}
#nav-bar button span{
  margin-right: 10px;
  width: 0px;
  height: auto;
}

#nav-bar button:hover{
  color: #e8fdff;
}

#nav-bar button:focus {
  outline: 0;
}