.sectionStart{
width: 0px;

}

.followMe{
  float:left;
  margin-top: 30px;
  margin-left: 30px;
}



section {
  display: inline-block;
  padding-bottom: 10px;
  width: 90%;
  margin: 20px 20px 0px 20px;
  background-color: #eee;
  border-radius: 15px;
}

section span{
  text-align: right;
  float: right;
  margin-right: 10px;
}

section input{
float: left;
margin-left: 10px;
}


form textarea{
  width: 95%;
}

section h2{
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid black;
  text-align: left;
}

.tweetfeed{
  width: 90%;
  background-color: white;
}

 .tweeted{
  margin: 10px 20px 25px 20px;
  width: 90%;
  height: 200px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

 .tweeted header{
  background-color: #eee;
  height: 60px;
  border-bottom: 1px solid lightgrey;
  border-radius: 15px 15px 0px 0px;
}

.tweeted h4{
  float: left;
  margin-left: 10px;
  opacity: 0.5;
}
.tweeted h6{
  opacity: 0.5;
  float: right;
  margin-right: 10px;
}

.tweeted header img{
  float: left;
  width: 40px;
  height: auto;
  margin: 10px 0px 0px 10px;
  border-radius: 30px;
}


.tweeted div {
  padding-top: 5px;
  text-align: left;
  width: 100%;
  height: 90px;
  background-color: white;
  border: none;
  overflow-wrap: break-word;
}

.tweeted footer {
  border-top: 1px solid lightgrey;
}
 .tweeted li{
float: right;
display: inline-block;
list-style: none;
}

.tweeted footer span {
  text-align: center;
  width: 0;
  transition: 0.2s linear;
  opacity: 0;
}

.tweeted:hover {
  border: 2px solid rgba(0, 0 , 0, 0.4);
}

.tweeted:hover span{
  width: 40px;
  opacity: 1.0;
}

.tweeted:hover h4{
  opacity: 1;
}

.tweeted:hover h6{
  opacity: 1;
}

.tweeted footer h6{
  float: left;
  margin-left: 10px;
  font-size: 10px;
}

.toManyCharacters{
  color: red;
}

.errorTweet{
  background-color: #BB0C38;
  display: inline-block;
  padding: 10px;
  opacity: 0.7;
  color: white;
  border-radius: 15px;
  width: 35%
  height:30px;
  /*text-align: center;*/
}